<%- include ("../header.ejs") %>

        <br>
            <h2>PRESCRIPTION HISTORY</h2>
        <br>
        <div class="search-list-container">
            <ul class="search-list" id="search-list">
                <!--- ShowSearchResult() foreach loops -->
                <% if(data.length> 0) { %>
                
                    <% data.forEach(function(prescription) { %>
                        <!--a href="Admin_ViewUserAccount.html"-->
                            
                            <li class="list-data-container qrcode">    
                                <span>Prescription ID: <%= prescription.PrescriptionID %></span> <br>
                                <span>Prescription: <%= prescription.PrescriptionName %> </span><br>
                                <span>Prescribed On: <%= prescription.PrescribedOn %></span> <br>
                                <span>Token: <span class="tokenspan"><%= prescription.Token %></span></span> <br>                                
                                <% if(prescription.PrescriptionStatus == 0) { %>
                                <span>Status: Not Dispensed </span><br>

                                <% } else { %>
                                    <span>Status: Dispensed </span><br>
                                <% } %>
                                <% if(prescription.DispensedOn > 0) { %>
                                    <span>Dispensed On: <%= prescription.DispensedOn %></span>
                                <% } %>

                                  
                                
                                <div class="qrcode-container"></div>
                                

                                <button class="enter-button viewqrcode">Show QR Code</button>                                                   
                            </li>                          
                    <% }); %>
                    
                <% } else { %>
                       <h1>No Results</h1>
                <% } %>
    
            </ul>
        </div>

        <div id="dialog" title="TOKEN" class="hidden"></div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        const mobileBtn = document.getElementById('mobile-cta')
            nav = document.querySelector('nav')
            mobileBtnExit = document.getElementById('mobile-exit');

        mobileBtn.addEventListener('click',() => {
            nav.classList.add('menu-btn');
        })

        mobileBtnExit.addEventListener('click',() => {
            nav.classList.remove('menu-btn');
        })
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../jquery.qrcode.min.js"></script>
    
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>  
        
    

    <script>

        $(document).ready(function() {
            $(".hidden").hide();
            $('.viewqrcode').on('click', function(){

                console.log("CLICKED QR");
                var tokenThis = $(this).closest(".qrcode").find(".tokenspan").text();
                console.log(tokenThis);
                var qrcodeGen = $(this).closest(".qrcode").find(".qrcode-container").qrcode({
                    width: 192,
                    height: 192,
                    text: tokenThis
                }); 
                $("#dialog").html("");
                $("#dialog").append(qrcodeGen); 
                $("#dialog").append(tokenThis); 
                $("#dialog").dialog({
                    modal: true
                });

            });

            
        });
            
    </script>

</body>

</html>

