<%- include ("../header.ejs") %>

        <div class="searchBar-container">
            <input type="text" class="search-bar" id="search-useraccount" name="searchuseraccount" placeholder="Search User...">
            
            <button id="searchUser" class="search-button">
                <ion-icon name="search"></ion-icon>
            </button>  
    
        </div>

        <br>
        <div class="search-list-container">
            <ul class="search-list" id="search-list">
                <!--- ShowSearchResult() foreach loops -->
                <% if(data.length> 0) { %>
                
                    <% data.forEach(function(user) { %>
                        <!--a href="Admin_ViewUserAccount.html"-->
                            
                            <li class="list-data-container">    
                                <span>ID: <%= user.UserID %></span> <br>
                                <span>Username: <%= user.Username %></span><br>
                                <span>Password: <%= user.Password %></span>  <br>
                                <span>Name: <%= user.Name %> </span><br>
                                <span>Email: <%= user.Email %></span> <br>
                                <span>Role: <%= user.Role %></span> <br>
                                <br>
                                <div>
                                    <a class= "enter-button" href="/admin/editaccount/<%= user.UserID %>">View User Account</a>
                                    <a class= "enter-button" href="/admin/editprofile/<%= user.UserID %>">View User Profile</a>
                                </div>       
                                <br>                         
                            </li>
                            
                    <% }); %>
                    
                <% } else { %>
                       <h1>No Results</h1>
                <% } %>
    
            </ul>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        const mobileBtn = document.getElementById('mobile-cta')
            nav = document.querySelector('nav')
            mobileBtnExit = document.getElementById('mobile-exit');

        mobileBtn.addEventListener('click',() => {
            nav.classList.add('menu-btn');
        })

        mobileBtnExit.addEventListener('click',() => {
            nav.classList.remove('menu-btn');
        })
    </script>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script>
        $(document).ready (function() {
            $("#searchUser").on("click", function() {
                console.log("click search btn!");
                var userInputForm = $('#search-useraccount').val(); 
        
            console.log("start ajax call");
            $.ajax({
                url: "/searchuser",
                type: "POST",
                data: {
                    'userInputForm': $("#search-useraccount").val() 
                },
                success: function(response, status, http) {

                    if(response.length > 0) {

                        if (response) {
                            console.log('AJAX worked!');
                            console.log(response);
                            var toAppendHtml = "";

                            $("#nouser").remove();
                            $("#search-list li").remove();  

                            for (var user in response) {

                                var id = response[user].UserID;
                                var username = response[user].Username; 
                                var password = response[user].Password; 
                                var name = response[user].Name; 
                                var email = response[user].Email; 
                                var role = response[user].Role;

                                toAppendHtml += "<li class='list-data-container'>" + 
                                    "<span>ID : " + id + "</span> <br>" +
                                    "<span>Username : " + username + "</span> <br>" +
                                    "<span>Password : " + password + "</span> <br>" +
                                    "<span>Name : " + name + "</span> <br>" +
                                    "<span>Email : " + email + "</span> <br>" +
                                    "<span>Role : " + role + "</span> <br> <br>" +
                                    "<div><a class= 'enter-button' href='/admin/editaccount/" + 
                                        id + "''>View User Account</a>" +

                                    "<a class= 'enter-button' href='/admin/editprofile/" + 
                                    id + "'>View User Profile</a></div> <br> </li>" ;
                                                          
                            }

                            $("#search-list").append(toAppendHtml);
                            
                        }

                    }

                    else {
                        console.log("EMPTY AJAX");

                        $("#nouser").remove();
                        $("#search-list li").remove();

                        var toAppendHtml = "<h2 id='nouser'>NO USER FOUND</h2>";

                        $(toAppendHtml).insertAfter("#search-list");

                    }


                }
                , error: function(e){
                    console.log('error');
                    console.log(e);
                }
                });

            })
        });
    </script>

</body>

</html>

