<%- include ("../header.ejs") %>

        <div class="add-container">
            <h2>USER ACCOUNT DETAILS</h2>
            
            <% user.forEach(function(user) { %>
                <form name="updateUserAccount" method="post" action="/updateUserAcc">
                    <input type="hidden" name="userid" value = "<%= user.UserID %>">
                    <div class="add-txt-field">
                        <label>Username</label>
                        <input type="text" id="username" name="username" value="<%= user.Username %>" disabled>
                        <span></span>                
                    </div>
                    <div class="add-txt-field">
                        <label>Name</label>
                        <input type="text" id="name" name="name" value="<%= user.Name %>" disabled>
                        <span></span>
                    </div>
                    <div class="add-txt-field">
                        <label>Password</label>
                        <input type="text" id="password" name="password" value="<%= user.Password %>" disabled>
                        <span></span>
                    </div>
                    <div class="add-txt-field">
                        <label>Email</label>
                        <input type="text" id="email" name="email" value="<%= user.Email %>" disabled>
                        <span></span>
                    </div>

                    <input class="enter-button" id="savebutton" type="submit" value="Save" disabled>
                    
                </form>
            <% }); %>

            <% if ( expressFlash.length > 0 ) { %>
                <p id="flashMsg" class="success-msg"><%= expressFlash %> </p>
            <% } %>
            <button class="enter-button" id="updatebutton">Update</button>
            <button class="enter-button" onclick="location.href = '/Admin_SearchUser'">Back</button>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        const mobileBtn = document.getElementById('mobile-cta')
            nav = document.querySelector('nav')
            mobileBtnExit = document.getElementById('mobile-exit');

        mobileBtn.addEventListener('click',() => {
            nav.classList.add('menu-btn');
        })

        mobileBtnExit.addEventListener('click',() => {
            nav.classList.remove('menu-btn');
        })
    </script>

    <script>
        $(document).ready (function() {
            console.log("Document ready");

            $("#savebutton").hide();

            $("#updatebutton").on("click", function () {
                console.log("clicked button!");
                $("input, #savebutton").attr("disabled", false);
                $("#savebutton").show();
                $("#updatebutton").hide();
                $("#flashMsg").remove();
            })

        })
    </script>
</body>

</html>

