<%- include ("../header.ejs") %>

        <div class="add-container">
            <br>
            <h2>PRESCRIPTIONS</h2>
            <br>

            <p id="flashMsg" class="success-msg"></p>
            <% if(data.length> 0) { %>
                
                <% data.forEach(function(prescription) { %>
                <div class="formContainer">
                    <form class="updateForm" name="updatePrescription" method="post" action="/updatePrescription">
                        <input type="hidden" class="userID" name="userID" value = "<%= prescription.PrescribedTo %>">
                        <input type="hidden" class="prescriptionid" id="prescriptionid" name="presciptionid" value="<%= prescription.PrescriptionID %>">  
                        <div class="add-txt-field">
                            <label>Prescription ID: </label>
                            <input type="text" class="prescriptionid" name="presid" value="<%= prescription.PrescriptionID %>" disabled>        
                        </div>
                        <div class="add-txt-field">
                            <label>Prescription: </label>
                            <input type="text" class="prescriptionname" name="prescriptionName" value="<%= prescription.PrescriptionName %>" disabled>             
                        </div>

                        <input class="enter-button savebutton" id="savebutton" type="submit" value="Save" disabled>
                        <input type="button" class="enter-button sendemail" value="Send Email"/>
                        
                    </form>
                    <button class="enter-button updatebutton">Update</button>
                    
                </div>
                <% }); %>
           
            <% } else { %>
                <br>
                <h1>No Results</h1>
            <% } %>
            <br>
            <button class="enter-button" onclick="location.href = '/Doctor_SearchPatient'">Back</button>
        </div>
        
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        const mobileBtn = document.getElementById('mobile-cta')
            nav = document.querySelector('nav')
            mobileBtnExit = document.getElementById('mobile-exit');

        mobileBtn.addEventListener('click',() => {
            nav.classList.add('menu-btn');
        })

        mobileBtnExit.addEventListener('click',() => {
            nav.classList.remove('menu-btn');
        })
    </script>

    <script>
        $(document).ready (function() {
            console.log("Document ready");

            $(".savebutton").hide();

            $(".updatebutton").on("click", function () {
                console.log("clicked button!");
                $(this).closest(".formContainer").find(".savebutton").show();
                $(this).hide();
                $(this).closest(".formContainer").find(".prescriptionname, .savebutton").attr("disabled", false);
                
                $("#flashMsg").remove();
            })

            $(".sendemail").on("click", function() {
        
                $('#flashMsg').html('');
                console.log("start ajax call");
                var userid = $(this).parent().closest(".updateForm").find(".userID").val();
                console.log(userid);
                var presid = $(this).parent().closest(".updateForm").find(".prescriptionid").val();
                console.log(presid);
           
                $.ajax ({
                    url: "/sendemail",
                    type: "POST",
                    data: {
                        'userID': userid,
                        'presID': presid
                    },
                    success: function(response, status, http) {

                        if(status) {
                            $('#flashMsg').html('Email Sent!');
                            console.log("EMAIL SENT!");
                            
                        }

                        else {
                            console.log("EMPTY AJAX");

                        }
                    }
                    , error: function(e){
                        console.log('error');
                        console.log(e);
                    }
                });
            });

        })
    </script>

</body>

</html>

